body {
    margin: 0;
    font-family: 'Montserrat';
    color: #ddd;
    font-size: 12px;
    background-color: #020722;
}

h1,h2,h3,h4 {
    margin: 0;
}

div, body, header, article {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-conteiner {
    max-width: 800px;
    margin: auto;
}

.section-title {
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 100px;
}

.icon-in-button {
    width: 20px;
    height: 20px;
    display: block;
}

/*HEADER*/

.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #020722, #0d185e);
    display: flex;
}

.header__buttons-conteiner {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: absolute;
}

.header__buttons-conteiner a{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 8px 5px;
    gap: 10px;
    color: #ccc;
    font-size: 1.5em;
    transition: border .2s;
}

.header__buttons-conteiner a:hover {
    border-bottom: 1px solid #fff;
}

.header__conteiner {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 3fr);
    grid-template-rows: repeat(3, min-content);
    padding: 20px;
}

.header__img{
    background-image: url(images/ezagu.png);
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    border: 3px solid #3f4d99;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    padding: 100px;
}

.header__conteiner h3{
    font-family: monospace;
    font-size: 1.8em;
    color: #aaa;
    align-self: end;
    padding-left: 20px;
}

.header__conteiner h1 {
    font-size: 3em;
    text-wrap: pretty;
    line-height: 1.2;
    padding: 5px 20px;
    color: #ddd;
    font-weight: 100;
}

.title-name {
    font-size: 1.6em;
    color: #E51C1F;
    letter-spacing: 1.4px;
    font-weight: 700;
}

.title-username {
    font-size: 1.4em;
    color: #33A11A;
    letter-spacing: 1.7px;
    font-weight: 700;
}

.header__conteiner h2 {
    grid-column: span 2;
    font-size: 3em;
    letter-spacing: 3.5px;
    color: #ddd;
    align-self: start;
    text-align: center;
    padding: 20px;
    font-weight: 100;
}

/*NAVBAR*/

.nav {
    background-color: #010416;
    padding: 10px;
    font-family: monospace;
    font-size: 1.4em;
    position: sticky;
    top: 0;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

.nav img {
    width: 25px;
    border-radius: 100%;
}

.nav a {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: border .2s, background-color .2s;
}

.nav a:not(:has(img)):hover {
    border: 1px solid #666;
    background-color: #aaa4;
}

/*PROJECTS*/

.project__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project__card {
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    gap: 5px 15px;
    min-height: 250px;
    border: 1px solid #7778;
    border-radius: 16px;
    box-shadow: 0 0 10px #aaa2;
    margin: 10px;
    background-color: #6661;
}

.card__tecnologies {
    padding-top: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.card__tecnologies div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
    background: linear-gradient(135deg,#222, #444);
    border-radius: 8px;
    padding: 3px 8px;
}

.card__img {
    background-size: cover;
    background-position: center;
    max-width: 150px;
    height: 100%;
    grid-row: span 4;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#orbi-img {
    background-image: url(images/orbi-ss.png);
}

#minesweeper-img {
    background-image: url(images/minesweeper.png);
}

.project__card h3 {
    font-size: 2.5em;
    color: #7BF1A7;
}

.project__card p {
    font-size: 1.4em;
    margin: 0;
    line-height: 1.4;
    text-wrap: balance;
    color: #eee;
}

.card__button-conteiner {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.card__button-conteiner a {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border: 1px solid #7778;
    border-radius: 25px;
    transition: background-color .2s;
    background: linear-gradient(135deg, #1ba15e, #056948);
}

.card__button-conteiner a:hover {
    opacity: 0.74;
}

/*Skills*/

.skills-conteiner {
    padding: 10px;
    margin: auto;
    max-width: 800px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 2px;
    color: transparent;
    transition: color .2s;
}

.skills__card:hover {
    color: inherit;
}

.skills__card img {
    width: 85px;
    height: 85px;
}

/*About me*/

.about-conteiner {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, min-content);
    gap: 10px 20px;
}

.about__img {
    grid-row: span 5;
    background-image: url(images/avatar.png);
    background-size: cover;
    background-position: center;
}

.about-conteiner p {
    font-size: 1.5em;
    text-wrap: balance;
    margin: 0;
    padding: 5px 0;
    font-weight: 100;
    line-height: 1.7;
}

.about-conteiner span {
    font-weight: 900;
}

.about-conteiner p>a {
    text-decoration: underline;
}

.about-conteiner h3 {
    font-size: 1.6em;
    font-weight: 900;
}

.about__social-conteiner {
    display: flex;
    gap: 10px;
}

.about__social-conteiner a {
    border: 1px solid #7778;
    padding: 8px;
    border-radius: 100%;
    transition: color .2s;
}

.about__social-conteiner a:hover {
    background-color: #fff2;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width:600px) {
    body {
        font-size: 8px;
    }

    /*HEADER*/

    .header__buttons-conteiner {
        justify-content: center;
    }

    .header__conteiner  {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        justify-items: center;
    }

    .header__conteiner h3 {
        padding: 10px 0;
    }

    .header__conteiner h1 {
        text-align: center;
        padding: 0;
    }

    .header__img {
        grid-row: span 1;
    }

    .header__conteiner h2 {
        grid-column: span 1;
        padding: 0;
        padding-top: 15px;
        font-weight: 900;
    }

    /*NAVBAR*/


    /*PROJECTS*/

    .project__card {
        grid-template-columns: 1fr;
        grid-template-rows: 100px repeat(2, min-content) 1fr min-content;
        width: 80%;
    }

    .card__img {
        justify-self: center;
        max-width: 100%;
        width: 100%;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;        
    }

    .card__tecnologies {
        padding-left: 10px;
    }

    .project__card h3, .project__card p {
        padding-left: 10px;
    }

    .project__card p {
        font-size: 1.6em;
    }

    /*SKILLS*/

    .skills-conteiner {
        padding: 20px;
    }

    .skills__card img{
        width: 70px;
        height: 70px;
    }

    /*ABOUT ME*/

    .about-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(5, min-content);
        padding: 10px;
    }

    .about__img {
        background-position: top;
    }
}