body {
    font-family: 'Montserrat';
    background-color: #06141b;
    color: #ccd0cf;
    font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-conteiner {
    max-width: 800px;
    margin: auto;
}

.section-title {
    font-family: monospace;
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 100px;
}

.icon-in-button {
    width: 20px;
    height: 20px;
    display: block;
}

/*-------------HEADER------------*/

.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(235deg, #11212d, #253745);
    display: flex;
    container-type: inline-size;
    container-name: header;
}

.header__buttons-conteiner {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: absolute;
}

.header__buttons-conteiner a{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 8px 5px;
    gap: 10px;
    font-size: 1.3em;
    transition: border .2s;
}

.header__buttons-conteiner a:hover {
    border-bottom: 1px solid #ccd0cf;
}

.header__conteiner {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 3fr);
    grid-template-rows: repeat(3, min-content);
    padding: 20px;
}

.header__img{
    background-image: url(images/ezagu.png);
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    border: 3px solid #ccd0cf;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
    padding: 100px;
    box-shadow: 0 0 25px #06141b;
}

.header__conteiner h3{
    font-family: monospace;
    font-size: 1.8em;
    align-self: end;
    padding-left: 20px;
}

.header__conteiner h1 {
    font-size: 3em;
    text-wrap: pretty;
    line-height: 1.2;
    padding: 5px 20px;
}

.title-name {
    font-size: 1.6em;
    color: #E51C1F;
    letter-spacing: 1.4px;
    font-weight: 700;
}

.title-username {
    font-size: 1.4em;
    color: #33A11A;
    letter-spacing: 1.7px;
    font-weight: 700;
}

.header__conteiner h2 {
    grid-column: span 2;
    font-size: 3em;
    letter-spacing: 3.5px;
    align-self: start;
    text-align: center;
    padding: 20px;
    font-weight: 100;
}

/*--------HEADER QUERIES-------------*/

@container header (max-width:700px) {
    .header__buttons-conteiner {
        justify-content: center;
    }

    .header__conteiner  {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        justify-items: center;
    }

    .header__conteiner h3 {
        padding: 10px 0;
    }

    .header__conteiner h1 {
        text-align: center;
        padding: 0;
    }

    .header__img {
        grid-row: span 1;
    }

    .header__conteiner h2 {
        font-size: 2em;
        grid-column: span 1;
        padding: 0;
        padding-top: 15px;
    }
}

/*-------END HEADER-----------*/

/*---------NAVBAR-------------*/

.nav {
    container-type: inline-size;
    container-name: nav;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    
    background-color: #06141b;
    font-family: monospace;
    font-size: 1.1em;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center; 
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-container img {
    max-width: 100%;
    width: 25px;
    height: auto;
    margin: auto;
}

.nav-container a:has(img) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-left: 10px;
    display: flex;
}

.nav-container li {
    padding: 5px;
}

.nav-container a {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: border .2s, background-color .2s;

}

.nav-container ul a:hover {
    border: 1px solid #9ba8ab;
    background-color: #aaa4;
}

.nav-container label {
    display: none;
}

.nav__checkbox {
    display: none;
}


/*------NAVBAR QUERIES----------*/

@container nav (max-width: 475px) {

    .nav-container ul{
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: -1;
        background: linear-gradient(#06141b, #253745);
        flex-direction: column;
        gap: 20px;
        font-size: 1.3em;
    }

    .nav-container label {
        display: block;
        font-size: 3em;
        padding-right: 10px;
    }

    .nav__checkbox:checked ~ .nav__list {
        display: flex;
    }

    .nav-container a:has(img) {
        position: static;
        margin: 0;
    }

    .nav-container {
        min-width: 100%;
        justify-content: space-between;
    }
}

/*-------NAVBAR END-------------*/

/*PROJECTS*/

#project {
    background-color:#06141b;
    padding-bottom: 50px;
    container-type: inline-size;
    container-name: project;
}

.project__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.project__card {
    margin: auto;
    margin: 0 20px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(2, min-content) 1fr min-content;
    gap: 5px 15px;
    min-height: 250px;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ba8ab81;
    background-color: #11212d;
}

.card__tecnologies {
    padding-top: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.card__tecnologies div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
    background: linear-gradient(135deg,#11212d 20%, #4a5c6a);
    border-radius: 8px;
    padding: 3px 8px;
    border: 2px solid #4a5c6a;
}

.card__img {
    background-size: cover;
    background-position: center;
    max-width: 150px;
    height: 100%;
    grid-row: span 4;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#orbi-img {
    background-image: url(images/orbi-ss.png);
}

#minesweeper-img {
    background-image: url(images/minesweeper.png);
}

.project__card h3 {
    font-size: 2.5em;
    color: #61f296;
    padding: 10px 0;
}

.project__card p {
    font-size: 1.4em;
    margin: 0;
    line-height: 1.4;
    text-wrap: balance;
}

.card__button-conteiner {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.card__button-conteiner a {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 15px;
    transition: opacity .2s;
    background: linear-gradient(245deg, #1ba15e, #024a32);
}

.card__button-conteiner a:hover {
    opacity: 0.74;
}

/*--------PROJECTS QUERIES------------*/

@container project (max-width: 550px) {
    .project__card {
        grid-template-columns: 1fr;
        grid-template-rows: 100px repeat(2, min-content) 1fr min-content;
    }

    .card__img {
        justify-self: center;
        max-width: 100%;
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .card__tecnologies {
        padding-left: 10px;
    }

    .project__card h3, .project__card p {
        padding-left: 10px;
    }
}

/*----------PROJECTS ENDS-------------*/

/*Skills*/

#skills {
    min-height: 100vh;
    background-color: #9ba8ab;
    padding-bottom: 50px;
}

#skills .section-title {
    color: #06141b;
}

.skills-conteiner {
    padding: 20px;
    margin: auto;
    max-width: 700px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.skills__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 2px;
    color: transparent;
    transition: color .2s;
    box-shadow: 0 0 10px #06141b44;
    border-radius: 10px;
    padding: 20px;
}

.skills__card:hover {
    color: #06141b;
}

.skills__card img {
    width: 85px;
    height: 85px;
}

/*About me*/

#about {
    background-color: #11212d;
    min-height: 100vh;
}

.about-conteiner {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, min-content);
    gap: 10px 20px;
}

.about__img {
    grid-row: span 5;
    background-image: url(images/avatar.png);
    background-size: cover;
    background-position: center;
}

.about-conteiner p {
    font-size: 1.5em;
    text-wrap: balance;
    margin: 0;
    padding: 5px 0;
    font-weight: 100;
    line-height: 1.7;
}

.about-conteiner span {
    font-weight: 900;
}

.about-conteiner p>a {
    text-decoration: underline;
}

.about-conteiner h3 {
    font-size: 1.6em;
    font-weight: 900;
}

.about__social-conteiner {
    display: flex;
    gap: 10px;
}

.about__social-conteiner a {
    border: 1px solid #7778;
    padding: 8px;
    border-radius: 100%;
    transition: color .2s;
}

.about__social-conteiner a:hover {
    background-color: #fff2;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width:600px) {
    /*ABOUT ME*/

    .about-conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(5, min-content);
        padding: 20px;
    }

    .about__img {
        background-position: top;
    }
}